{% extends "base.html.twig" %}

{% block title %}Products - EcoBlues
{% endblock %}

{% block body %}
	<section class="cat_product_area section_padding">
		<div class="container">
			<div class="row">
				<div class="col-lg-3">
					<div class="left_sidebar_area">
						<aside class="left_widgets p_filter_widgets">
							<div class="l_w_title">
								<h3>Browse Categories</h3>
							</div>
							<div class="widgets_inner">
								<ul class="list">
									<li>
										<a href="{{ path('app_product_list') }} ">
											All</a>
										<span>({{ products_length }})</span>
									</li>
									{% for category in categories %}
										<li>
											<a href="{{ path('app_product_list', {'category': category.id}) }} ">
												{{ category.name }}</a>
											<span>({{ category.products|length }})</span>
										</li>
									{% endfor %}
								</ul>
							</div>
						</aside>
					</div>
				</div>
				<div class="col-lg-9">
					<div class="row align-items-center latest_product_inner">
						{% for product in products %}
							<div class="col-lg-4 col-sm-6">
								<a href="{{ path('app_product_show', {'id': product.id }) }}">
									<div class="single_product_item">
										<img src="{{ product.image }}" alt="{{ product.name }} image">
										<div class="single_product_text">
											<h4>{{ product.name }}</h4>
											<h3>{{ product.price }}
												€</h3>
											<a href="#" class="add_cart">+ add to cart<i class="fa fa-heart"></i>
											</a>
										</div>
									</div>
								</a>
							</div>
						{% endfor %}
					</div>
				</div>
			</div>
		</div>
	</section>
{% endblock %}
