<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>
			{% block title %}
				Eco Blues
			{% endblock %}
		</title>
		<link rel="icon" href="{{ asset('img/favicon.png') }}">

		{% block stylesheets %}
			{{ encore_entry_link_tags('app') }}
			<link rel="stylesheet" href="{{ asset('css/bootstrap.min.css') }}">
			<link rel="stylesheet" href="{{ asset('css/animate.css') }}">
			<link rel="stylesheet" href="{{ asset('css/owl.carousel.min.css') }}">
			<link rel="stylesheet" href="{{ asset('css/all.css') }}">
			<link rel="stylesheet" href="{{ asset('css/flaticon.css') }}">
			<link rel="stylesheet" href="{{ asset('css/themify-icons.css') }}">
			<link rel="stylesheet" href="{{ asset('css/magnific-popup.css') }}">
			<link rel="stylesheet" href="{{ asset('css/slick.css') }}">
			<link rel="stylesheet" href="{{ asset('css/style.css') }}">
		{% endblock %}
	</head>
	<body>
		{% block body %}{% endblock %}
		{% block javascripts %}
			{{ encore_entry_script_tags('app') }}
			<!-- jquery plugins here-->
			<script src="{{ asset('js/jquery-1.12.1.min.js') }}"></script>
			<!-- popper js -->
			<script src="{{ asset('js/popper.min.js') }}"></script>
			<!-- bootstrap js -->
			<script src="{{ asset('js/bootstrap.min.js') }}"></script>
			<!-- easing js -->
			<script src="{{ asset('js/jquery.magnific-popup.js') }}"></script>
			<!-- swiper js -->
			<script src="{{ asset('js/swiper.min.js') }}"></script>
			<!-- swiper js -->
			<script src="{{ asset('js/masonry.pkgd.js') }}"></script>
			<!-- particles js -->
			<script src="{{ asset('js/owl.carousel.min.js') }}"></script>
			<script src="{{ asset('js/jquery.nice-select.min.js') }}"></script>
			<!-- slick js -->
			<script src="{{ asset('js/slick.min.js') }}"></script>
			<script src="{{ asset('js/jquery.counterup.min.js') }}"></script>
			<script src="{{ asset('js/waypoints.min.js') }}"></script>
			<script src="{{ asset('js/contact.js') }}"></script>
			<script src="{{ asset('js/jquery.ajaxchimp.min.js') }}"></script>
			<script src="{{ asset('js/jquery.form.js') }}"></script>
			<script src="{{ asset('js/jquery.validate.min.js') }}"></script>
			<script src="{{ asset('js/mail-script.js') }}"></script>
			<!-- custom js -->
			<script src="{{ asset('js/custom.js') }}"></script>
		{% endblock %}
	</body>
</html>
