{% extends 'admin/admin_base.html.twig' %}

{% block title %}Coupons overview
{% endblock %}

{% block body %}
	<div class="container">
		<div class="table-responsive">
			<div class="table-wrapper">
				<div class="table-title">
					<div class="row">
						<div class="col-sm-5">
							<h2>Coupons
								<b>Management</b>
							</h2>
						</div>
						<div class="col-sm-7">
							<a href="{{ path('app_admin_discount_new') }}" class="btn btn-secondary">
								<i class="material-icons">&#xE147;</i>
								<span>Add New Coupon</span>
							</a>
						</div>
					</div>
				</div>
				<table class="table table-striped table-hover">
					<thead>
						<tr>
							<th>#</th>
							<th>Code</th>
							<th>Usage Limit</th>
							<th>Value</th>
							<th></th>
						</tr>
					</thead>
					<tbody>
						{% for discount in discounts %}
							<tr>
								<td>{{ discount.id }}</td>
								<td>
									<a href="{{ path('app_admin_discount_edit', {'id': discount.id}) }}">
										{{ discount.name }}
									</a>
								</td>
								<td>
									{% if discount.amount < 0 %}
										Unlimited
									{% else %}
										{{ discount.amount }}
									{% endif %}
								</td>
								<td>{{ discount.price }}
									€</td>
								<td>
									<a href="{{ path('app_admin_discount_edit', {'id': discount.id}) }}">
										<i class="material-icons">&#xE8B8;</i>
									</a>
								</td>
							</tr>
						{% else %}
							<tr>
								<td colspan="7">
									<b>No discount found</b>
									(maybe check the database?)
								</td>
							</tr>
						{% endfor %}
					</tbody>
				</table>
				<div class="clearfix">
					<div class="hint-text">Showing
						<b>{{ discounts|length }}</b>
						out of
						<b>{{ discounts|length }}</b>
						entries</div>
					<ul class="pagination">
						<li class="page-item disabled">
							<a href="#">Previous</a>
						</li>
						<li class="page-item active">
							<a href="#" class="page-link">1</a>
						</li>
						<li class="page-item">
							<a href="#" class="page-link">2</a>
						</li>
						<li class="page-item">
							<a href="#" class="page-link">3</a>
						</li>
						<li class="page-item">
							<a href="#" class="page-link">Next</a>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
{% endblock %}
